.note{
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    background-color: grey;
    border: 1px solid rgb(98, 98, 98);
    box-shadow: 2px 2px 2px 2px rgb(26, 26, 26);
    padding: 10px; 
}
.note_header{
    display: flex;
    flex-direction: column;
}
.span, .note_text, .note_name, .add_note{
    margin: 10px 0 10px 0;
}
input{
    border: none;
    border-radius: 3px;
    height: 25px;
}
.note_name{
    width: 40%;
}
button{
    border-radius:3px ;
}
.note_value{
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    background-color: grey;
    border: 1px solid rgb(98, 98, 98);
    box-shadow: 2px 2px 2px 2px rgb(26, 26, 26);
    padding: 10px;
    margin-left: 10px; 
    max-height: 190px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.note_btn{
    border: 1px solid rgb(163, 163, 163);
    border-radius:1px ;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 5px;
    margin-top:5px ;
}
.note_btn_value{
    cursor: pointer;
}
.active{
    background-color: green;
}
.text{
    display: none;
}
.activeText{
    display: block;
    width: 100%;
    word-wrap:break-word;
    overflow: hidden;
}
